:root {
    --restaurant: #E0E0E0;
    --pale-restaurant: #F5F5F5;
    --park: #81C784;
    --pale-park: #C8E6C9;
    --school: #FFB74D;
    --pale-school: #FFE0B2;
    --grocery: #FFF176;
    --pale-grocery: #FFF9C4;
    --custom: #E57373;
    --pale-custom: #FFCDD2;
}

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    min-width: 456px;
}

.row {
    width: 100%;
    margin: 0;
}

.no-padding {
    padding: 0;
}

.container-fluid {
    padding: 0;
    /* overflow-x: hidden; */
}

input#address-input, input#filter-input {
    width: 60%;
}

#list-inputs-row {
    margin-bottom: 15px;
}

.form-control {
    display: inline;
}

header.jumbotron#my-jumbo {
    height: 200px;
    padding: .67em .5em 0 .5em;
    text-align: center;
    margin: 0 0 0 0;
    background-image: url(../img/cityscape.jpg);
    background-size: cover;
    border-radius: 0;
}

.jumbotron>h1 {
    color: white;
    text-shadow: grey 1px 1px 1px;
    font-family: 'Fredericka the Great', sans-serif;
}

#list-view-row {
    width: 100%;
    margin-top: -60px;
}

#list-view {
    padding: 0;
}

#map {
    height: 600px;
    width: 100%;
    margin: 0 auto;
}

#list-view>ul {
    list-style: none;
    margin-bottom: 0;
}

#map-query-div {
    padding: 0;
    position: relative;
    top: 0;
}

#photo-div {
    padding: 0;
}

li.results {
    padding: .5em;
}

#filtered-results {
    display: none;
}

.visible, #filtered-results.visible {
    display: block;
}

.invisible, #filtered-results.invisible {
    display: none;
}

.grocery-li {
    background-color: var(--pale-grocery);
}

.grocery-li:hover {
    background-color: var(--grocery);
}

.restaurants-li {
    background-color: var(--pale-restaurant);
}

.restaurants-li:hover {
    background-color: var(--restaurant);
}

.parks-li {
    background-color: var(--pale-park);
}

.parks-li:hover {
    background-color: var(--park);
}

.schools-li {
    background-color: var(--pale-school);
}

.schools-li:hover {
    background-color: var(--school);
}

.user-li {
    background-color: var(--pale-custom);
}

.user-li:hover {
    background-color: var(--custom);
}

fieldset {
    margin: 1.3em .95em 0 .95em;
}

input.custom-query {
    max-width: 150px;
}

div.input-block {
    display: block;
    padding: 0 0 .75em 0;
}

div.search-options {
    margin: .67em 0;
}

img.place-photos {
    width: 100%;
}

.photoholder {
    padding: 0;
}

@media only screen and (min-width: 755px) {
    .jumbotron h1 {
        font-size: 50px;
    }

    header.jumbotron#my-jumbo {
        height: 230px;
    }
}

@media only screen and (min-width: 992px) {
    #map-query-div {
        margin-top: 0;
    }

    #filtered-results {
        display: block;
    }

    #list-view-row {
        width: 41%;
        display: inline;
    }

    div#list-inputs-row {
        margin-bottom: 0;
    }

    input#address-input {
        width: 80%;
    }

    input#filter-input {
        width: 100%;
    }

    #list-view {
        overflow-y: scroll;
        height: calc(100vh - 180px);
    }

    .btn#result-toggle {
        display: none;
    }

    header.jumbotron#my-jumbo {
        height: 180px;
    }
}

@media only screen and (min-width: 1200px) {
    #photo-div {
        overflow-y: scroll;
        height: calc(100vh - 180px);
    }
    
    input#address-input {
        width: 60%;
    }
}
